/* You can add global styles to this file, and also import other style files */

@import 'variables';
@import '~bootstrap/scss/bootstrap';
@import 'themes/healthbank_structure';

@import 'listings';


/**
 * Reset exception in bootstrap to style links without `href`s still as links
 */
a:not([href]):not([href]) {
  color: $link-color;
  text-decoration: $link-decoration;

  cursor: pointer;

  @include hover-focus {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }
}


// Sticky footer styling
// used from http://getbootstrap.com/examples/sticky-footer/
html {
  position: relative;

  min-height: 100%;

  body {
    // Margin bottom by footer height
    padding-bottom: 100px;

    footer {
      position: absolute;
      bottom: 0;

      width: 100%;

      padding: $spacer;
    }
  }
}


/**
 * This is an important fix for IE11 and svg usage. IE11 will otherwise start to block user input and seem like
 * it is frozen. Only a page refresh helps.
 */
svg {
  pointer-events: none;
}


// Icon svg
[class^='ma-icon-'], [class*=' ma-icon-'] {
  display: inline-block;
  vertical-align: text-bottom;

  width: 1.2em;
  height: 1.2em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}


// technical error overlay
.modal.error .modal-content {
  background-color: #F33E10;
  min-height: 260px;
}

.pointer {
  cursor: pointer;
}

